@page "/about/"

<h1 class="text-center">My name is Algot and I'm a software developer :D</h1>
<p>I've made some stuff, which you can find <a href="https://github.com/Drawserqzez" target="_blank">here</a></p>
<p>More stuff coming soon™</p>