@page "/about/"

@using Draws.Web.Data
@using Draws.Web.Services

@inject GithubService ghService

<h1>Mitt namn är Algot och det här är min sida :)</h1>

@code {
    // TODO: Get this to fetch the readme of Drawserqzez/Drawserqzez and throw that in here
}