@page "/about/"

<div class="d-flex flex-column justify-content-center align-content-center">
    <h1 class="text-center">My name is Algot and I'm a software developer</h1>
    <div class="d-flex flex-row justify-content-around">
        <a class="social-blob" href="https://github.com/Drawserqzez" target="_blank"><i class="fab fa-github-square mt-3"></i></a>
        <a class="social-blob" href="https://www.linkedin.com/in/algot-holton" target="_blank"><i class="fab fa-linkedin mt-3"></i></a>
    </div>
    <div class="text-center">
        I've worked with a lot of different tech; here are some of my favourites!
    </div>
</div>