@page "/"

@using Draws.Web.Data
@using Draws.Web.Services

@inject GithubService GithubService

<h1 class="text-center">Algot Holton - Developer</h1>

@if (_lastEditedRepo != null) {
    <h3 class="text-center mt-3">Last seen editing <a href="@_lastEditedRepo.Url">@_lastEditedRepo.Name</a> at @_lastEditedRepo.UpdatedAt.ToLocalTime().ToString("dd/MM/yyyy")</h3>
}

@code {
    private Repository _lastEditedRepo; 

    protected override async Task OnInitializedAsync() {
        _lastEditedRepo = await GithubService.GetLastEditedRepo();
        await base.OnInitializedAsync();
    }
}