@page "/portfolio/"

<h1>Some day this page will contain my portfolio.</h1>
<h2>Right now it's just random stuff, apologies</h2>


<p>And a link to my <a href="https://www.github.com/Drawserqzez/">github.</a></p>