@page "/portfolio/"

@using Draws.Web.Data
@using Draws.Web.Services

@inject GithubService GithubService

<h1 class="text-center">Here is a list of all my public repos on github</h1>

@if (_repos != null && _repos.Any()) {
    <div class="d-flex justify-content-evenly repo-container">
        @foreach (var repo in _repos) {
            <RepoDisplay Repository="repo" />
        }
    </div>
}
else if (!String.IsNullOrEmpty(_errorMessage)) {
    <h4>@_errorMessage</h4>
} 
else {
    <p>Loading...</p>
}

@code {
    private string _errorMessage;
    private IEnumerable<Repository> _repos;

    protected override async Task OnInitializedAsync() {
        try {
            _repos = await GithubService.GetRepositoriesAsync();
        }
        catch {
            _errorMessage = "An error occured when loading the repositories. Please try again later, or just check them out on my Github.";
        }

        await base.OnInitializedAsync();
    }
}