nav {
    display: flex;
    justify-content: space-around;
    font-size: 2em;

    border-bottom: rgba(255, 25, 179, 0.9) solid 2px;
}

.navitem {
    padding: .3em;
    text-decoration: none;
    text-align: center;
    color: inherit;
    border: var(--dark-bg) 1px solid;

    min-width: 2em;
}

.navitem:hover {
    text-decoration: none;
    border: whitesmoke 1px solid;
    border-radius: 10px;
}