<nav class="mt-4 pb-2 mb-2">
    <a class="navitem" href="/about/">
        <span>About me</span>
    </a>
    <a class="navitem" href="/">
        <span class="oi oi-home" aria-hidden="true"></span>
    </a>
    <a class="navitem" href="/portfolio/">
        <span>Portfolio</span>
    </a>
</nav>