@using Draws.Web.Data

@inject NavigationManager NavManager

<div class="repo-display-block cursor-pointer" @onclick="GoToRepo">
    <div class="header">@Repository.Name</div>
    <p>@Repository.Description</p>
</div>

@code {
    [Parameter]
    public Repository Repository { get; set; }

    private void GoToRepo() {
        NavManager.NavigateTo($"/portfolio/repo/{Repository.Name}");
    }
}
